.jumbotron {
	background-color: blue;
	color: white;
}

#submitTrain {
	margin-top: 25px;
}

#nameRow {
	margin-left: 2px;
}

#destRow {
	margin-left: 2px;
}

#freqRow {
	margin-left: 2px;
}

#nextRow {
	margin-left: 2px;
}

#awayRow {
	margin-left: 2px;
}

.footer {
	background-color: blue;
	color: white;
	padding: 15px;
	text-align: center;
}